
  <div class="jumbotron homepage">
    <h1>listenUP!</h1>
    <form action= "/search_results" method="get">
      <input type="text" name="search" class="form-control home_search" placeholder="song, artist, album..", autocomplete="off"><br>
      <p><input type= "submit" class= "btn btn-lg btn-success" value= "search!"></p>
    </form>
  </div>


  <footer>
    <p>developed by <a href="http://www.chriswfinlayson.com">
    chris finlayson</a> powered by <a href="http://www.spotify.com" class="spotify">spotify</a> </p>
  </footer>



